img{border-radius: 400px}
h1,h3{
    color: red
}

img#img{
    height:420px;
    width:450px;
    display: inline;
}

body{
    width: 50%;
    background-color: white;
}

.linha{
    border-top: 2px solid black;
}

img#face{
    width: 50px;
    height: 50px;
}

#nome{
    display: inline;
    float: right;
}