img{border-radius: 400px}
h1,h3{
    color: red
}

img#img{
    height:420px;
    width:450px;
}

body{
    width: 50%;
    background-color: white;
    border: 3px solid rgb(50,20,10)
}

.linha{
    border-top: 2px solid black;
}